* {
    padding: 0;
    margin: 0;
    list-style: 0;
    /* border: 1px solid red; */
}

#banner {
    width: 100%;
    height: 130vh;
    background-image: url(3.jpg);
    background-size: cover;
}

header {
    padding: 35px 10%;

}

#logo {
    float: left;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

#flag1 {
    margin-left: 30px;
}

#maincontent1{
    text-align: center;
}

#maincontent1 .noori1, #maincontent1 h1, #maincontent1 .noori2{
    display: inline-block;
    color: blue;
    margin-left: 10px;
    margin-top: 80px;
}

#maincontent2 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.noori3 {
    font-size:  50px;
    color: #E5E5E5;
    padding: 0.5%;
    margin-left: 45%;
    margin-top: 520px;
    border: 5px solid #E5E5E5;
    border-radius: 50PX;
}
#maintow{
    width: 100%;
    height: 100vh;
    background-image: url("14.png");
    background-size: cover;
}

#maincontent3{
   text-align: center;
}
#maincontent3 .noori4, #maincontent3 h1, #maincontent3 .noori5{
    display: inline-block;
    margin-left: 10px;
    margin-top: 80px;
}

#maincontent3 .noori4, #maincontent3 .noori5{
    color: blue;
}

.paraone{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}
#mainthree{
    width: 100%;
    height: 120vh;
    background-color: white;
}
.mainthreebox{
    border: 1px solid;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: 70px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.mainthreepic{
    width: 680px;
    height: 500px;
    background-image: url(15.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    vertical-align: top;
}
.mainthreepic:hover{
    color: red;
    border: 2px solid;
}

.mainthreebox h3{
   color: rgb(90, 88, 88);
   margin-top: 100px;
}
.mainthreebox p{
   color: rgb(90, 88, 88);
    margin-top: 30px;
 }

 #mainfore{
    width: 100%;
    height: 90vh;


 }

 #mainforepic{
    width: 680px;
    height: 500px;
    background-image: url(16.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    vertical-align: top;
 }
 #mainforebox{
    border: 1px solid;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: 70px;
    display: inline-block;
    vertical-align: top;
    
 }
 #mainforebox h3{
   color:  rgb(90, 88, 88);
    margin-top: 100px;
    margin-left: 30px;
 }

 #mainforebox p{
color: rgb(90, 88, 88);
margin-top: 30px;
margin-left: 30px;
 }
 #mainfive{
    width: 100%;
    height: 90vh;
    background-image: url(17.jpg);
    background-size: cover; 
    background-position: bottom;
    padding: 1px;
    position: relative;
 }
 #pic1{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(19.png);
    position: absolute;
    left:200px;
    top:290px
 }
 #pic2{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(20.png);
    position: absolute;
    left: 440px;
    top: 30px;
    
    
 }
 #pic3{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(21.png);
    position: absolute;
    left: 640px;
    top: 250px;
    
 }
 #pic4{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(22.png);
    position: absolute;
    left: 730px;
    top: 100px;
    
 }
 #pic5{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(23.png);
    position: absolute;
    left: 75%;
    top: 20%;
 }
#pic1 img, #pic2 img, #pic3 img, #pic4 img, #pic5 img{
    opacity: 0;
}
#pic1:hover img, #pic2:hover img, #pic3:hover img, #pic4:hover img, #pic5:hover img{
    opacity:1;
}
#mainsix{
    width: 100%;
    height: 90vh;
    padding: 30px 0 0 0;
}

#mainsixpic{
    width: 700px;
    height: 480px;
    background-image: url(24.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    vertical-align: top;
 }
 #mainsixbox{
    border: 1px solid;
    width: 480px;
    height: 480px;
    margin-top: 20px;
    margin-left: 70px;
    display: inline-block;
    vertical-align: top;
    
 }
 #mainsixbox h3{
    margin-top: 50px;
    margin-left: 40px;
    color: rgb(90, 88, 88);
 }
 #mainsixbox p{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    color: rgb(90, 88, 88);
 }
 #mainsaven{
    width: 100%;
    height: 90vh;
    padding: 30px 0 0 0;
    position: relative;
 }

 .mainsavenbox{
    border: 1px solid;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: 70px;
    display: inline-block;
    vertical-align: top;
    /* text-align: center; */
}
.mainsavenpic{
    width: 680px;
    height: 500px;
    background-image: url(25.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    vertical-align: top;
}
.mainsavenbox h3{
    color: rgb(90, 88, 88);
    margin-top: 100px;
    margin-left: 50px;
 }
 .mainsavenbox p{
    color: rgb(90, 88, 88);
     margin-top: 20px;
     margin-left: 50px;
     font-size: 18px;
  }

  #maineight{
    width: 100%;
    height: 150vh;
    background-image: url(26.jpg);
    background-size: cover;
    padding: 1px;
    position: relative;
  }

  #eightcontent{
  text-align: center;
    margin-top: 40px;
    
  }
  #eightcontent .noori4, #eightcontent h1, #eightcontent .noori5{
    display: inline-block;
    margin-left: 10px;
    
  }
  #eightcontent .noori4, #eightcontent .noori5{
    color: blue;
}
#eightcontent h1{
color: white;
}
#maineight p{
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 50px;
}
#pic6{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(19.png);
    position: absolute;
    left: 14%;
    top: 56%;
}
#pic7{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(20.png);
    position: absolute;
    left: 30%;
    top: 43%;
}
#pic8{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(21.png);
    position: absolute;
    left: 59%;
    top: 63%;
}
#pic9{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(22.png);
    position: absolute;
    left: 83%;
    top: 57%;
}

#pic6 img, #pic7 img, #pic8 img, #pic9 img, #pic10 img{
    opacity: 0;
}
#pic6:hover img, #pic7:hover img, #pic8:hover img, #pic9:hover img, #pic10:hover img{
    opacity:1;
}

#mainnine{
    width: 100%;
    height: 140vh;
    background-color: white;
}
.mainninepic{
    width: 680px;
    height: 500px;
    background-image: url(27.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
    vertical-align: top;
}
.mainninecontent{
    border: 1px solid;
    width: 500px;
    height: 500px;
    margin-top: 40px;
    margin-left: 70px;
    display: inline-block;
    vertical-align: top;
}

.mainninecontent h3, .mainninecontent p{
    margin-top: 40px;
    margin-left: 40px;
}

#mainten{
    width: 100%;
    height: 150vh;
    background-image: url(28.jpg);
    background-size: cover;
    padding: 1px;
    position: relative;
  }

  #tencontent{
  text-align: center;
    margin-top: 40px;
    
  }
  #tencontent .noori4, #tencontent h1, #tencontent .noori5{
    display: inline-block;
    margin-left: 10px;
    
  }
  #tencontent .noori4, #tencontent .noori5{
    color: blue;
}
#tencontent h1{
color: white;
}
#mainten p{
    font-size: 18px;
    color: white;
    margin-left: 230px;
    margin-top: 50px;
}
#pic6{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(19.png);
    position: absolute;
    left: 12%;
    top: 66%;
}
#pic7{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(20.png);
    position: absolute;
    left: 57%;
    top: 55%;
}
#pic8{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(21.png);
    position: absolute;
    left: 49%;
    top: 59%;
}
#pic9{
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-image: url(22.png);
    position: absolute;
    left: 79%;
    top: 75%;
}

#pic6 img, #pic7 img, #pic8 img, #pic9 img, #pic10 img{
    opacity: 0;
}
#pic6:hover img, #pic7:hover img, #pic8:hover img, #pic9:hover img, #pic10:hover img{
    opacity:1;
}

#main11{
    width: 100%;
    height: 100vh;
background-image: url(29.jpg);
background-size: cover;
background-position: right;
position: relative;
}
#content11{
    text-align: center;
    margin-top: 30px;

}
#content11 .noori4, #content11 h1, #content11 .noori5{
    display: inline-block;
    margin-left: 10px;
    
  }
  #content11 .noori4,  #content11 .noori5{
    color: blue;
  }
  #main11 img{
    width: 300px;
    height: 400px;
    margin-left: 26%;
    /* display: inline-block; */
  }
  #contentbox{
    width: 300px;
    height: 400px;
    border: 1px solid rgb(90, 88, 88);
    position: absolute;
    top: 30px;
    left: 30px;
    
  }
 .line1{
    border-bottom: 1px solid;
    width: 50px;
    height: 1px;
    margin-top: 10px;
    margin-left: 30px;
 }
 #contentbox p{
    margin-top: 30px;
    margin-left: 30px;
    color: rgb(90, 88, 88);
 }
 #contentbox h3{
    margin-left: 30px;
    margin-top: 5px;
    color: rgb(90, 88, 88);
 }
 .line2{
    border-bottom: 1px solid;
    width: 50px;
    height: 1px;
    margin-top: 20px;
    margin-left: 30px;
 }
 .line3{
    border-bottom: 1px solid;
    width: 50px;
    height: 1px;
    margin-top: 10px;
    margin-left: 30px;
 }

 #main12{
    width: 100%;
    height: 90vh;
    background-color: black;
 }
 .blackbox{
    width: 210px;
    height: 350px;
    border: 1px solid white;
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
    vertical-align: top;
    color: white;
    padding: 4% 2%;
    font-size: 30px;
 }
 .blackbox p{
    font-size: 18px;
    margin-top: 20px;
 }
 .blackbox h3{
    font-size: 16px;
    margin-top: 10px;
 }

 .blackbox3{
    width: 470px;
    height: 350px;
    border: 1px solid white;
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
    vertical-align: top;
    color: white;
    padding: 4% 2%;
    font-size: 30px;
 }
 .box3-1{
    width: 200px;
    height: 370px;
    /* border: 1px solid white; */
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
 }
 .box3-1 p{
font-size: 18px;
margin-top: 20px;
 }
 .box3-1 h3{
font-size: 16px;
margin-top: 10px;
 }
 .box3-2{
    width: 200px;
    height: 270px;
    /* border: 1px solid white; */
    margin-left: 30px;
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
 }
 .box3-2 p{
    font-size: 18px;
margin-top: 20px;
 }
 .box3-2 h3{
    font-size: 20px;
margin-top: 10px;
 }
 #line4{
    width: 60px;
    height: 1px;
    background-color: white;
    margin-top: 20px;
 }
 #line5{
    width: 60px;
    height: 1px;
    background-color: white;
    margin-top: 20px;
 }
 #main13{
    width: 100%;
    height: 140vh;
    background-image: url(31.jpg);
    background-size: cover;
    background-position: right;
    background-position: top;
    text-align: center;
 }
  #main13 h1{
    display: inline-block;
  
 }
 #main13 .noori4, #main13 .noori5{
    color:blue;
    margin-top:40px;
 }
#main13 h1{
    color: white;
}

#main13 p{
    color: white;
    margin-top: 50px;
    font-size: 18px;
}
#own2{
    width: 300px;
    height: 200px;
    /* border: 1px solid white; */
    display: inline-block;
    vertical-align: top;
    margin-top: 400px;
    margin-left: 30px;
    color: white;
    font-size: 25px;
}
#become2{
    width: 300px;
    height: 200px;
    /* border: 1px solid white;  */
    display: inline-block;
    vertical-align: top;
    margin-top: 400px;
    color: white;
    font-size: 25px;
}
#become2 button{
    padding: 4% 10%;
    margin-top: 60px;
    color: #00AAFF;
    background-color: transparent;
    font-size: 20px;
    border-color: #00AAFF;
}
#become2 button:hover{
    background-color:  #00AAFF;
    color: white;
}
#own2 button{
    padding: 4% 10%;
    margin-top: 60px;
    color: #00AAFF;
    background-color: transparent;
    font-size: 20px;
    border-color: #00AAFF;
}
#own2 button:hover{
    color: white;
    background-color: #00AAFF;
}
#main14{
    width: 100%;
    height: 80vh;
}
#main14 img{
    width: 550px;
    height: 80vh;
    display: inline-block;
}
#input14{
    width: 720px;
    height: 70vh;
    /* border: 1px solid black; */
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: top;
    font-size: 25px;
    padding: 2% 2%;
    /* margin-top: -50px; */
}
#input14 .noori10{
    color: blue;
    padding: 1%;
    font-size: 20px;
}
#inputfname{
    width: 90%;
    height: 50px;
    /* border: 1px solid; */
    margin-top: 70px;
    /* margin-left: 30px; */
}
#first{
    width: 300px;
    height: 47px;
    
    
}
#email{
   width:300px ;
   height: 47px; 
   margin-left: 30px;
}
#inputlp{
    width: 90%;
    height: 50px;
    margin-top: 20px;
    /* border: 1px solid; */
    /* margin-left: 30px; */
}
#lname{
    width: 300px;
    height: 47px;
}
#lp{
    width:300px ;
    height: 47px; 
    margin-left: 30px; 
}
#msg{
    width: 645px;
    height: 150px;
    border: 1px solid;
    /* margin-left: 30px; */
    margin-top: 20px;
}
#plus{
    width: 250px;
    height: 50px;
    /* border: 1px solid; */
    margin-left: 400px;
}
#plus input{
    width: 70px;
    height: 47px;
    background-color: whitesmoke;
}
#plus button{
    width: 80px;
    height: 50px;
    border:1px solid #00AAFF;
    color: #00AAFF;
    font-size: 20px;
}
#mainsaven{
    width: 80%;
    height: 70vh;
    background-color: rgb(26, 24, 24);
    /* border-bottom: 1px solid white; */
    padding: 80px 10%;
}

#flaris{
    float: left;
}
#bigbox{
    width: 500px;
    height: 370px;
    float: right;
}

.smallbox{
    width: 32%;
    height: 200px;
    display: inline-block;
    color: white;
    font-size: 20px;
    vertical-align: top;
    padding: 1px;
}


.lione{
    margin-top: 20px;
    display: block;
    font-size: 15px;
    color: rgb(141, 133, 133);
}
#longbox{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    color: white;
 
}
#longbox h1{
    font-size: 25px;
}
#email1{
   width: 95%;
  
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding: 2% 2%;
}

#button3{
   background-color: transparent;
  border: 1px solid white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 19px;
    padding: 2% 43%;
    color: white;
}
#bottomline{
    border: 1px solid white;
    width: 100%;
    /* background-color: white; */
    margin-top: 380px;
}

#last{
    width: 100%;
    height: 50px;
    color: white;
    margin-top: 30px;
}

.lastpic{
    float: right;
    margin-left: 5px;
}
